
body {
  background-color: rgb(84,169,172);
  box-shadow: 1px 1px 5px rgb(73,37,37);
  border:1px solid;
  border-radius:5px; 
}

#button {
  font-family: 'Titillium Web', sans-serif;
  display: block;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 15px;
    margin-left: 45px;
    margin-bottom: 10px;
    color: rgb(84,169,172);
    background-color: rgb(151,40,40);
    border-radius: 5px; 
    text-shadow: 0 -1px 0 #000;
    box-shadow: 0 1px 0 #666;
    cursor: pointer;
}
body {
    font-family:sans-serif;
}
